### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

### IntelliJ IDE
.idea

.work

### Visual Studio Code
.vscode

# helm chart dependencies
charts/*/charts/
charts/*/Chart.lock

# release packages
.cr-release-packages/

# don't include drop
/drop/

# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json

